* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(images/bgimg.jpg);
  background-color: rgb(118, 118, 118);
  background-size: cover;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-position: center;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  display: flex;
  width: 920px;
  height: 540px;
  background-color: #232323;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


.left-side {
  flex: 1;
  background-color: #fefefe;
}

.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-side img:hover {
  filter: brightness(0.9);
  transform: scale(1.02);
}


.right-side {
  flex: 1.1;
  color: #f4eee7;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.logo .cup {
  font-size: 28px;
}

.logo h2 {
  font-weight: 600;
  font-size: 22px;
}

.logo h2 span {
  color: #ffffff;
}


.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  color: #b9a88c;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.tab.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #ffffff;
  margin-top: 8px;
}

input {
  background-color: rgb(255, 255, 255);
  border: none;
  color: #000000;
  border-radius: 6px;
  padding: 10px;
  margin-top: 4px;
}

input::placeholder {
  color: #aaa6a6;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  font-size: 13px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.btn.main {
  background-color: #517dff;
  color: #ffffff;
  font-size: 15px;
}

.btn.main:hover {
  background-color: #819eff;
}


.divider {
  text-align: center;
  margin: 15px 0;
  color: #ffffff;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ffffff;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.social-login button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.google {
  background: #db4437;
  color: white;
}

.facebook {
  background: #1877f2;
  color: white;
}

.phone {
  background: none;
  color: #c39a6b;
  border: 1px solid #c39a6b;
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .left-side {
    display: none;
  }

  .right-side {
    padding: 30px;
  }
}